# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs e temporários
*.log
*.tmp
*.bak

# Variáveis de ambiente
.env
.env.local
